@page "/"
@using Treinaí.Repositories.PlanoDeTreinoRepository
@using Treinaí.Models
@using System.Globalization
@inject IPlanoDeTreinoRepository repository

<PageTitle>DASHBOARD</PageTitle>

<MudText Typo="Typo.h3" Class="d-flex justify-content-center">DASHBOARD</MudText>

<div>
    <MudPaper Class="pa-4">
        <MudChart ChartType="ChartType.Bar"
                  ChartSeries="@Series"
                  XAxisLabels="@XAxisLabels"
                  ChartOptions="@Options"
                  Width="100%"
                  Height="350px">
        </MudChart>
    </MudPaper>

</div>

<div>
    <MudPaper Class="pa-4">
        <MudChart ChartType="ChartType.Pie"
                  InputData="@data"
                  InputLabels="@labels"
                  Width="300px"
                  Height="300px" />
    </MudPaper>

</div>

@code {
    private ChartOptions Options = new ChartOptions
        {
            LineStrokeWidth = 20,
            YAxisTicks = 1
        };

    private String[] XAxisLabels { get; set; } = [];
    private List<ChartSeries> Series { get; set; } = new List<ChartSeries>();

    private double[] data { get; set; } = [];
    private string[] labels { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        var result = await repository.GetReportAsync();

        if (result is null || !result.Any())
            return;

        MontaGraficoBarra(result);
        MontaGraficoTorta(result);

    }

    private void MontaGraficoBarra(List<PlanoDeTreinoAnuais> planoDeTreinoAnuais)
    {
        XAxisLabels = planoDeTreinoAnuais
       .Select(x => CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(x.Mes)).ToArray();

        var serie = new ChartSeries
            {
                Name = "Planos de Treinos Mensais",
                Data = planoDeTreinoAnuais.Select(x => (double)x.QuantidadePlanos).ToArray()
            };

        Series.Add(serie);
    }

    private void MontaGraficoTorta(List<PlanoDeTreinoAnuais> agendamentos)
    {
        labels = agendamentos
            .Select(x => CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(x.Mes)).ToArray();

        data = agendamentos.Select(x => (double)x.QuantidadePlanos).ToArray();
    }
}
